numpy==1.26.4
pandas==2.2.2
torch==2.4.1
torchvision==0.19.1
scikit-learn==1.5.1
scipy==1.14.1
matplotlib==3.8.4
tqdm==4.66.5
PyYAML==6.0.2
openpyxl==3.1.5
opencv-python==4.10.0.84
SimpleITK==2.4.0
torchio==0.20.1
lungmask==0.2.20
pytorch-warmup==0.1.1
wandb==0.17.8
